.header {
  height: 128px;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  color: #f5f5f4;
  font-size: 36px;
  font-family: 'Anek Latin', sans-serif;
}

.header > div {
  height: 100%;
  min-width: 240px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #292524;
}

.info {
  border-radius: 0 0 69px 69px;
}

.score {
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 58px;
  border-radius: 0 0 0 69px;
}

.settings {
  justify-content: space-between;
  border-radius: 0 0 69px 0;
  font-size: 69px;
}
